body { 
    background-color:rgb(203, 210, 210);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.default {
    display: none;
}

/* header */
h1 {
    text-align: center;
    font-size: 48px;
    color:blueviolet;
    padding: 20px;
    margin: 0%;
}

#header {
    background-color: aqua;
    margin-bottom: 0%;
    
}

/* navbar */
nav {
    background-color: rgb(196, 117, 197);
    color: rgb(0, 134, 158);
    height: 100%;
    margin-top: 0%;
}

nav :hover {
    background-color: rgb(228, 169, 229);
}

nav a.active {
    background-color: rgb(253, 149, 255);
    color: rgb(6, 171, 200);
  }

a {
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
}

/* content display */
h2 {
    text-align: center;
    font-size:  32px;
    color:blueviolet;
    padding: 20px;
    margin: 0%;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.flex-ctr { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


/* cat cards styling  */
#cat-cards {
    display: flex;
    margin: 5px;
}
.card {
    border: 2px solid black;
    transition: 0.5s;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #cat-image {
    height: 30%;
    width: 100%;
    object-fit: contain;
    margin: auto;
  }

.button {
    padding: 15px;
    text-align: center;
}

/* filter page styling */
.filter-info.h2 {
    text-align: center;
}
select#breed-filter {
    margin: auto;
}
.filter-imgs {
    align-items: grid;
}
.cat-breed-img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    padding: 10px;
}